
.btn:hover {
  color: white !important;
  text-decoration: none;
}
body{
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  background: white !important
}


.blue {
  font-family: 'Raleway', sans-serif !important;
  color: #004568 !important;
  margin-bottom:0
}

.bubble{
  display: flex;
  justify-content: center;
  align-items: center;
  border:2px solid #007C91;
  border-radius: .25rem;
  background: white;
  color:#007C91;
  font-size:.9em;
  padding:0rem .25rem;
  font-weight: 500;
}
.bubble:hover{
  background: #007C91;
  color:white
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(10px, auto);
}

.infoBar {
  margin-bottom:1em;
  background: white;
  padding: 1.5em .5em 1.5em .5em;
  -webkit-box-shadow: 0px 0px 19px -1px rgba(175,175,175,0.67);
  -moz-box-shadow: 0px 0px 19px -1px rgba(175,175,175,0.67);
  box-shadow: 0px 0px 19px -1px rgba(175,175,175,0.67);
  position: relative;
  width:100%;
  margin-bottom:2em;
  border-radius:.25rem
}

.infoBar .day{
  position: absolute;
  z-index:99;
  top: 50%;
  left: 6%;
  transform: translate(0%, -50%);
  color:white;

}



.infoBar.complete .day,
.infoBar.task .day{
  font-weight: 600;
}

.infoBar .due{
  position: absolute;
  z-index:99;
  top: 50%;
  left: 55%;
  transform: translate(-55%, -50%);
  color:black;
  font-weight: 600;
}

h3.blue{
  font-weight: 500
}

span.light{
  font-weight: 300
}

.pending{
  background: #bfd0d9
}



.complete{
  background: #d3e0d2
}

.current{
  background: #c0dee2
}

.pending:before{
  content:'';
  background: #004568;
  position: absolute;
  width:40%;
  height:100%;
  top:0;
  left:0;
  bottom:0
}

.current:before{
  content:'';
  background: #007c91;
  position: absolute;
  width:40%;
  height:100%;
  top:0;
  left:0;
  bottom:0
}



.complete:before{
  content:'';
  background: #3f7538;
  position: absolute;
  width:40%;
  height:100%;
  top:0;
  left:0;
  bottom:0
}


.complete .due i{
  color:#3f7538;
  font-size:20px
}


.btn.btn-default.absolute{
  position: absolute;
  right: 2%;
  padding: 0.25em 0.5em !important;
  color:white;
  background-color: #611C35;
  font-size: 14px
}

.btn.btn-default.absolute:hover{
  background: #411328;
}




.outerCircle{

  position: absolute;
  border-radius: 50%;

  height: 4rem;
  width: 4rem;
  left: -2rem;
  /* -webkit-box-shadow: 0px 0px 19px -1px rgba(175,175,175,1);
  -moz-box-shadow: 0px 0px 19px -1px rgba(175,175,175,1);
  box-shadow: 0px 0px 19px -1px rgba(175,175,175,1); */

}

.gift{
  margin-bottom:1.2em;
  -webkit-box-shadow: 0px 0px 19px -1px rgba(175,175,175,0.87);
  -moz-box-shadow: 0px 0px 19px -1px rgba(175,175,175,0.87);
  box-shadow: 0px 0px 19px -1px rgba(175,175,175,0.87);
  max-height:240px;
  max-width:280px;
  border-radius: 1rem
}


@media (min-width:1025px){
  .taskBars{
    padding-right:2em
  }

}

.smallest{
  font-size: 14px
}

.main{
  background-image: url(../img/white.svg);

  height: inherit;
  min-height: inherit;
  background-size: cover;
  background-repeat: repeat;

  width: 100%;

  z-index: 1;
  position: absolute;


  background-size: unset;
  height:100%;
  min-height:100%;
  opacity:1
}

p, label {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #262626;
}
.tealColor {
  color: #004568;
  font-size: 26px;
}

.prompt.teal {
  font-size: 18px !important;
  padding: .6em 0em !important;
  margin-bottom: 1em !important;
  color:#004568 !important;
  font-weight:500;
}

.prompt.large {
  font-family: 'Raleway', sans-serif;
  color:#004568 !important;
  font-size:36px !important;
  font-weight:500;
}


h3{
  color: #004568;
  font-size: 20px;
  font-weight: 600
}

.brightRed {
  color:#AD0000
}

.strong {
  font-weight:700;
}

p.small {

  font-size: 16px;
  font-weight: 400;
  color: #262626;
  font-family: 'Raleway', sans-serif;
  line-height: 1.7;
}

h1{
  font-family: 'Sulphur Point', sans-serif;
}

.landing {
  position:relative;
  display: flex;
  align-items: center;

  justify-content: flex-start;
  padding:1em;
  max-height: 10em;
}

.heroImage {
  position: relative;
}

.white-overlay {
  min-height: inherit;
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,.66);
  backdrop-filter: blur(29px);
  z-index: 99;
  width: 61%;
  height: 100%;
  -webkit-box-shadow: 5px 0px 8px 0px rgba(255,255,255,.7);
  -moz-box-shadow: 5px 0px 8px 0px rgba(255,255,255,.7);
  box-shadow: 5px 0px 8px 0px rgba(255,255,255,.7);
}

.mb3 {
  margin-bottom:3em;
}

.hotPink {
  border-left:40px solid #c23294;
  width:100%;
  height:100%;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 61%;
  padding:1em 2.2em;
  overflow: hidden;
}

.content-spacer {
  height:10.6em;
}

.content-spacer1 {
  height:2em;
}

.content-spacer2 {
  height:1em;
}

.smallerImg {
  max-width: 8em;
}

.pink {
  color:#c23294;
}

.fortyEight.blue {
  font-size: 7em;
  color: #004568;
  font-weight: 100;
  font-family: 'Sulphur Point', sans-serif;
  position: relative;
  z-index: 22;
  margin-bottom:7%
}

#faqs{
  margin-bottom:0%
}

h2.p1 {
  margin-bottom: 0em;
}

.mb-50{
  margin-bottom: 25%
}

.lightWhite {
  background: white;
  width: 88%;
  position: relative;
  margin: 0 6%;
  height: auto;
  min-height: 175px;
  padding: 3em 6em;
  border-radius: 1rem;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.15);
}

.tealFont {
  color: #004568;
}

.heavy {
  font-weight: 600;
}

p.small {
  font-size: 16px;
  font-weight: 400;
  color: #262626;
  font-family: 'Raleway', sans-serif;
  line-height: 1.7;
}

.circular_image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
  position: absolute;
  bottom: -100px;
  left: -120px;
  z-index: 99;
  opacity: 1;

  display:inline-block;
  vertical-align:middle;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.25);
}
.circular_image img{
  height:100%;
  z-index: 99;
  opacity: 1;

}


.circular_image2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
  position: absolute;
  top: -100px;
  right: -120px;
  z-index: 99;
  opacity: 1;

  display:inline-block;
  vertical-align:middle;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.25);
}
.circular_image2 img{
  height:100%;
  z-index: 99;
  opacity: 1;
  margin-left: -60px

}


.berry {
  color: #611C35 !important;
  font-size: 14px;
}

.card {
  padding: .6em;
  background: transparent;
  box-shadow: 0px;
  position: relative;
  border: none;
  z-index: 25;
  margin-bottom: 2em;
  border-radius: .75rem;

}

.smaller{
  font-size: 12px
}

.card .ques {
  color: #611C35;

  margin: 0 !important;
  width: 95%;
  font-weight:500;
  line-height: 1.2;
  padding:.5em 1em;
  background-color: transparent;
  border-bottom: none;
}

.card .caret-down {
  position: relative;
  right: 15px;
  transition: transform 0.3s;
  font-size: 22px;
  float: right;

  z-index: 12;
  color: #0B66A6;

}

.card {
  padding: .6em;
  background-color: white !important;
  position: relative;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.15);
  z-index: 25;
  margin-bottom: 1.5em;
  border-radius: .75rem;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: none;
}


.card-body {
  padding: .5em;
}
.card .caret-down {
  position: absolute;
  right: 20px;
  transition: transform 0.3s;
  font-size: 22px;
  float: right;
  z-index: 12;
  color: #611C35;
}

.card .caret-down i {
  font-weight: 100;
}
.card p {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #262626;
  padding-left: 10px;
}

.card a:hover{
  text-decoration: none !important
}

h3{
  color:#004568;
  font-size:22px;
  font-weight: 500
}

.berry{
  color:#611C35 !important;
  font-size:14px
}
.card-body a{
  color:#611C35
}

.card-body a:hover{
  color:#611C35;
  text-decoration: underline !important;
}


.light{
  font-weight:300
}

.text {
  position: absolute;
  top: 12%;
  left: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* left: 50%;
  transform: translateX(-50%); */
  width: calc(75% - 1rem);
  font-size: 18px !important;
  margin-top: 0em !important;
  margin-right: 0px !important;
}

.hoverThis:hover{
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active{
  color: #611C35;
  padding-left:0;
  padding-right:0;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.navbar-light .navbar-nav .nav-link.active{
  text-decoration: none;
  position: relative;
}
.navbar-light .navbar-nav .nav-link.active:after {
  content: '';

  width: 100%;
  position: absolute;
  left: 0;
  bottom: 7px;
  background:  #611C35;
  border-width: 0 0 1px;
  border-style: solid;
}

.navbar-nav .nav-link:hover{
  color:#411328 !important;
  font-weight: 500;
}


.prompt {
  font-size: 16px !important;
  padding: .6em 0em !important;
  margin-bottom: 0em !important;
  color:#004568 !important;

  font-weight:500;
}

.black {
  font-size: 16px !important;
  padding: .6em 0em !important;
  margin-bottom: 0em !important;
  color:#404040  !important;


}

.consent .prompt {
  color:#404040 !important;
  font-weight:600 !important;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-check {
  position: relative;
  margin-left: 2em;
  margin-bottom: .2em;
}
.form-check input {
  height: 18px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 18px;
}
.ques-wrapper .form-check label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
  padding-left: 15px !important;
  padding-top: 2px;
}

.ques-wrapper .form-group label {
  display: flex;
}

.form-check label {
  padding: 0px 0px 0px 24px;
  font-size: 16px !important;
  font-weight: 500 !important;

  color: #404040;
}


.form-check input[type="checkbox"] {
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 18px;
  border: 1px solid black;
  opacity: 1;
}

.form-check input[type="radio"] + label::before {
  border: 1px solid #611C35;
  content: "";
  height: 18px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 18px;
  border-radius: 50%;
}

.form-check input[type="radio"] + label::after {
  content: "";
  opacity: 0;
  border: 7px solid #611C35;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 5px;
  color: #611C35;
  transition: opacity 0.2s ease-in-out;
}

.form-check input:checked + label::after {
  opacity: 1;
}

.square input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
}

.square{
  position: relative;
  margin-left: 1em;

  padding: .25em;
}


.square label {
  font-weight: 400;
  padding-left: 2em;
  color: #262626;
  font-weight: 300;
  font-size: 1em;
  margin: 0em;
  padding: 0em;
  padding-left: 2em;
  margin-top: .25em;
}


.square input[type="checkbox"] + label::before {
  border-color: #611C35;
  background: white;
  border-radius: 0;
}

.square label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 5px;
  margin-left: 0px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  top:8px
}

.square input[type="checkbox"]:checked + label::after {
  content: '\2713';
}

.square label::after {
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 7px;
  top: 3px;
  padding-left: 0px;
  padding-top: 0px;
  font-size: 20px;
  color: black;
  font-weight: 100;
  padding: 0px;
}


.form-check-input + label.activate:before {
  outline:dashed 3px #4599ff
}

.ques-wrapper.radiobuttons {
  position: relative;
  margin: 0rem auto 1.5rem;
  padding: 0rem 2rem 2rem;
  border-top: none;
  /* margin-bottom: 1em; */
  padding-bottom: 0em;
}

.ques-wrapper textarea.form-control {
  height: auto;
  left: calc(50% - 250px);
  width: 500px;
  border: 1px solid;
  border-radius: 1rem;
  margin: 1em 0em;
  position: relative;
}

.customStack input {
  margin-left:1rem;
}

.customStack  {
  margin-bottom:1em;
}

.btn-group-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.survey-btn-group {
  display: flex;
  margin: 0rem 0rem 4rem 0rem;
  /* width: 100%;
  justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width:64%;
  margin-left:18%;
  margin-right:18%;
  position: relative;
}

.survey-btn-group .row.mb-5.justify-content-between {
  top: 115%;
  position: absolute;
  right: -25%;
  bottom: 0;

}


.button-default {
  margin: 1rem 1.5rem !important;
  display: block;
  padding: .6em 3.5em !important;
  background-color: white;
  color: #611C35;
  border: 2px solid #611C35;
  font-size: 1rem !important;
  font-weight: 500;
  cursor: pointer;
  border-radius: .5rem;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;

  min-height:3rem

}
.button-default.next {
  background-color: #707070;
  color:white;
  border: 1px solid  #707070;
}
.button-default:hover {
  background-color:#611C35;
  color:white;
}

.btn.disabled, .btn:disabled {
  opacity: 1;
}

.btn-group-left, .btn-group-right {
  display: flex;
}

.gray{
  color:#58595b
}

.fa-calendar-alt{
  color:#007C91;
  /* font-size:20px */
}

.consent{
  display: flex;

  align-items: center;
  flex-direction: column;
  margin: 1em 0em;
}

.consent .form-check {
  position: relative;
  margin-left: 0em;
  margin-bottom: .2em;
}

.consent .form-check label {
  padding: 1px 0px 0px 3px !important;
  font-size: 16px !important;
  font-weight: 300 !important;
  /* font-family: 'Montserrat', sans-serif; */
  color: black;
}

.mt1 {
  margin-top:1em;
}

.survey-container {
  width: 100%;
  min-height: calc(100vh - 33rem);
  position: relative;

  /* box-shadow: inset 0px 5rem 5rem -4rem rgba(0,0,0,0.75), inset 0rem -5rem 5rem -4rem rgba(0,0,0,0.75); */
}

.survey-wrapper {
  background: #ffffff;
  position: relative;
  margin: 4rem auto 3rem auto;

  border-radius: .78rem;
  padding: 2rem 2rem !important;
  position: relative;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  z-index: 25;
}


.account-wrapper {
  background: #ffffff;
  position: relative;
  /* margin: 4rem auto; */
  /* max-width: 70%; */
  border-radius: .78rem;
  padding: 2rem 2rem !important;
  position: relative;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  z-index: 25;
}

.blue{
  color:#007bbc;

}
.darkBlue {
  color:#0b4372;

}

.focusClass input:focus + label::before {
  box-shadow: 0 0 0 3px #c23294;
  outline: 3px solid transparent; /* For Windows high contrast mode. */
}
.sb-validation{
  background: white;
  padding: 1rem 2rem;
  border: 3px solid #c23294;
  border-radius: 1rem;
  z-index: 99999;
  width: auto;
  text-align: center;
  font-size: 16px;

  position: relative;
  min-width: 19rem;

}
.noQuestions {
  padding:3em
}

.noQuestions p {
  font-size:20px !important
}

.back-to-top{
  display: none
}

.surveyPic1 {
  margin-left: 0;
  max-width: 49em;
}

.surveyPic2 {
  max-width:33em;
}

/* contact form */

#slideOut .form-check {
  position: relative;
  margin-left: 0em;

  padding-left: 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:.6em .2em;
  border-radius: .5rem;
}

#slideOut .form-check input {
  height: 18px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 18px;
}
#slideOut .form-check label {
  padding: 6px 7px;
  font-size: 16px !important;
  font-weight: 400;

}
#slideOut .form-check label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 0px;

  padding-left: 24px !important;
}

#slideOut .form-check input + label::before {
  border: 1px solid white;
  content: "";
  height: 14px;
  left: 6px;
  position: absolute;
  top: 46px;
  width: 14px;
  border-radius: 50%;
  background: white;
}

#slideOut .form-check input + label::after {
  content: "";
  opacity: 0;
  border: 5px solid #007C91;
  border-radius: 50%;
  position: absolute;
  left: 8px;
  top: 48px;
  color: black;
  transition: opacity 0.2s ease-in-out;
}

#slideOut .form-check input:checked + label::after {
  opacity: 1;
}

.form-check i{
  font-size:24px
}

.focusClass input:focus + label::before {
  box-shadow: 0 0 0 3px red;
  outline: 3px solid transparent; /* For Windows high contrast mode. */
}



#slideOut {
  position: fixed;
  right: -800px;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  margin: 0;
  height: 100vh;
  top: 0;
  z-index: 999999999;
  overflow-y: auto;
  overflow-x: hidden;
  background-color:  #004568;
}


#slideOut::-webkit-scrollbar-thumb {
  width: 0px !important;
  height: 0px;
}

#slideOut::-webkit-scrollbar {
  width: 0px !important;
  height: 0px;
  /* border-radius: 1rem !important;
  background: #dbdbdb !important; */

}


.showSlideOut {
  right: 0px !important;
}

#one {
  text-align: center;
  top: 175px;
  position: fixed;
  right: -40px;
  z-index: 99999;
  box-shadow: 0px 0px 20px 5px rgb(0, 0, 0, .2);
}

.openTab {
  background-color: #611C35;
  color: white;
  position: fixed;
  right: -1.8rem;
  top: 9rem;
  transform: rotate(-90deg);
  padding: 0.5rem 1rem;
  font-size: 18px;
  border-radius: 0px;
  z-index: 100;
  cursor: pointer;
  /* border-top-left-radius: 1rem;
  border-top-right-radius: 1rem; */
}
.openTab i{
  font-weight:700
}

.openTab p {
  font-weight: 700;
  font-size: 16px;
}

#slideOut h3{
  color:white;
  border-bottom:1px solid white;
  padding:2em 1em;
  margin-bottom: 0em;
  font-weight: 500
}

#slideOut .close {
  float: right;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
  color: white;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 15px;
  top: 10px;

}

#slideOut .modal-content {
  position: relative;
  background-color:  #004568;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: none;
  border-radius: 0;
  outline: 0;
  height:100%;
  z-index: 99999;

  width: 490px;

  margin: 0;
  padding-bottom: 6em;
  opacity: 1;

}

#slideOut .modal-header {
  padding: 15px;
  border-bottom: none;
  margin-bottom: 0em;
  display: block !important;
  padding-top: 2em;
}

#slideOut .modal-content{
  padding-left: 1.2em !important;
  padding-right: 1.2em !important;
}
#slideOut .modal-footer{
  border-top: 1px solid white;
  display: flex;

  justify-content: flex-start;
}
#slideOut .modal-body {
  padding-top: 0;

  font-size: 16px;
}

#slideOut label {
  color:white;
  font-weight: 500;
  margin-bottom: 0em;
}
#slideOut legend {
  color: white;
  font-size: 20px;
  margin-left: 0;
}

#slideOut .form-control {
  display: block;
  width: 100%;
  /* height: calc(2.25rem + 2px); */
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid white;
  border-radius: .5rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}


#sendMessage{
  background: #007C91;
  color:white;
  padding: 0.5rem 3rem;
}

.around {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  width: 100%;
}

.vertical {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.around .vertical {
  height: 80px;
  border-radius: 0px;
  padding: 10px;
  padding-top: 18px;
}

.vertical i {
  color:#BEF381;
  font-size:24px;
  margin-bottom: 5px;
}

#slideOut fieldset {
  padding: 0;
}

.nonActive {
  background: #D8D8D8;
  color: #6A6868;
  font-weight: 400;

  font-size: 20px;
  padding: .25rem 2.5rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  transition: all .3s ease-in-out;
}

.activated {
  background: #BEF381;
  color: black;
  font-weight: 400;
  font-size: 20px;
  padding: .25rem 2.5rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  transition: all .3s ease-in-out;
}

input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  margin: 0px 4px;
}


.contactUsOverlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}


.showSlideOut {
  right: 0px;
}


@media (min-width:1600px) {
  .surveyPic2 {
    max-width:38em;
  }
}

@media (max-width:1350px) and (min-width:1130px) {
  .surveyPic1 {
    margin-left:0%;
    max-width:38em;
  }
  .surveyPic2 {
    max-width:30em;
  }


}

@media (max-width:1129px) {
  .surveyPic1 {
    margin-left:0%;
    max-width:30em;
  }
  .surveyPic2 {
    max-width:28em;
  }


}

@media (max-width:767px) {
  .justify-content-around{
    flex-direction: column;
  }
}

.ques-wrapper option,
.ques-wrapper select,
.ques-wrapper textarea,
.ques-wrapper .form-control {

}

select.select-arrow, select.select-arrow-light, select.form-control {
  background-position: calc(100% - 3px) 50%;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: .75rem;
  padding-right: 1.25rem;
}
/* select.select-arrow, select.form-control {


background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 1000 1000'%3E%3Cpath d='M500,10L227.8,391.1h544.4L500,10z M500,990l272.2-381.1H227.8L500,990z'%3E%3C/path%3E%3C/svg%3E");
} */



.larger {
  font-size:1.3em;
  margin-bottom:.1em;
}
.smaller {
  font-size:1.2em;
  font-style: italic;
}

.small {
  font-size:1em;
  margin-bottom: 0em;
  line-height: 20px;
  font-weight: 300;

}

.abso1 {
  position: absolute;
  left: -13px;
  top: -22px;
}

.abso2 {
  position: absolute;
  right: -14px;
  top: -15px;
}

.charcoal {
  color:#4C4C4C
}

.bottom {
  padding: 1em 3em 1em 3em;
}

.bottom .describe {
  font-size: 1.1em;
  line-height: 26px;
  font-weight: 300;

}
.bottom ul {
  margin-left: -1.5em;
}
.medium {

  font-size:1.2em;
  font-weight:600;
}

.disclaimer p{
  color:black;
  margin-bottom:1em;
  font-size:12px;
  font-weight:300
}

.disclaimer{
  border-top: 1px solid #007bbc;
  margin-top:2em;
  padding-top:1em;
}



footer .disclaimer {
  position: absolute;
  top:0;
  right:2%;
  max-width:17em
}

footer .disclaimer p{
  line-height: 1.5;
  color:white;
  margin:0em
}

.p1 {
  padding:.5em 0em 1em 0em;
}

.p0 {
  padding: .1em 0em .1em 0em;
}

.smallImg {
  max-width: 14em;
}

#type {

  font-weight: 500 !important
}

.title1 {

  font-weight:600;
}

.description p {
  font-size: 1.1em;
  line-height: 26px;
  font-weight: 300;

}
.black{
  color:black
}

i.pink {
  font-size: .4em;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 8.5rem;
  background: #0b4372;
}

.rightSquare{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.9220063025210083) 0%, rgba(255,255,255,0.835171568627451) 24%, rgba(255,255,255,0.8631827731092436) 63%, rgba(255,255,255,0.8267682072829132) 82%);
  border: 2px solid #c23294;
  position: absolute;
  right: 4%;
  bottom: 4%;
  padding:.8em 1.3em;

}

.rightSquare h4 {
  font-size:1.4em;
  margin-bottom:0em;
}

.strong{
  font-weight:700;
}

.end2 {
  background: #007bbc;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  min-width: 72%;
  height: 100%;
  top: 0;
  /* border-left: 5px solid white; */
  padding-left: 2em;
}

footer .white {
  color:white;
  margin-bottom: .1em;

}

footer .large {
  font-size:1.3em;
  margin-bottom: .5em
}

.pinkButton{
  position: absolute;
  /* top: 100%; */
  bottom: 10.5em;
  /* top: 95em; */
  z-index: 999999;
  left: calc(50% - 4em);
  height: 2.6em;
  width: 8em;
  background: #c23294;
  color: white;
  border-radius: .65rem;
}

.pinkButton:hover {
  background:white;
  color:#c23294;
  border: 1px solid #c23294;
  height: 2.6em;
}

/* .absoluteGroup {
position: absolute;

bottom: 2%;

z-index: 999999;
width: 64%;
margin-left: 18%;
margin-right: 18%;

} */



.blackFlip {

  background: black;
  writing-mode: tb-rl;
  width: 1px;
  height: 120px;
  margin: .2em 1em 0em 1em;;

}

.landing .fas {
  color: #e5eef5 !important;
  font-size: 45px;
  margin: 0em .3em 0em 0.1em;
  position: relative;
}

.whiteBox {
  background: white;
  margin-left: 4%;
  margin-right: 4%;

  -webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.45);
  position: relative;
  min-height:105em;
  margin-bottom:3em;

}

#home {
  position: relative;
  padding-top:10vh;

  perspective: 4000px;
  height:auto;

}
/* .bigCard {
width: 100%;
height: 100%;
-webkit-transform-style: preserve-3d;
-webkit-transition: all 0.4s linear;
-moz-transform-style: preserve-3d;
-moz-transition: all 0.4s linear;
-o-transform-style: preserve-3d;
-o-transition: all 0.4s linear;
transform-style: preserve-3d;
transition: all 0.4s linear;
-ms-transform-style: preserve-3d;
-ms-transition: all 0.4s linear;
position: relative;
}
.flipped {
transform:rotateY(-180deg)
}


.face {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-o-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;
z-index:99
}

.back {
display: block;
-webkit-transform: rotateY(180deg);
-webkit-box-sizing: border-box;
-moz-transform: rotateY(180deg);
-moz-box-sizing: border-box;
-o-transform: rotateY(180deg);
-o-box-sizing: border-box;
-ms-transform: rotateY(180deg);
-ms-box-sizing: border-box;
transform: rotateY(180deg);

}

.flipIt {
position: absolute;
bottom: 2em;
right: 2%;

height: auto;
min-height: 4.8em;
}

.flipIt.noHeader {
position: absolute;
bottom: 0;
right: 2%;
top: 94%;
height: auto;
min-height: 4.8em;
} */


.flipIt img {
  width:5em;
}

.flipIt:focus{
  outline:none
}

.wrapper {
  position: relative;
  width: 100%;
  height:100%;
  min-height:120vh;
  /* min-height: calc(200vh); */
  position: relative;
  /* background: #F3F3F3; */
  /* padding-bottom: 20vh; */
}
html, body{
  overflow-x: hidden;
}

body {
  background: #F3F3F3;
}

.form-login-a {

  color: #00559b;

  font-size: 14px;
  display: flex;
  justify-content: center;
  font-weight:600;
}

.left .form-login-a.second {
  margin-top:-10px;
  font-weight:300;
}

.line {
  background: #e5eef5;
  background:   #c7dbe3;
  font-size: 11px;

  margin: 0;

  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 98;
  width: 100%;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding:1em;
  border-top:1px solid #a5c5d6;
}
.rel {
  position:relative;
}

.blackLineTop {
  border-top: 1px solid black;
}

.stop {
  background-color: white;
  min-height: 10%;
  background-size: cover;
  background-attachment: fixed;
}

.verse3 {
  background: url(../images/blue.png) no-repeat center center;
  min-height: 70%;
  background-size: cover;
  background-attachment: fixed;
  opacity:.95
}

.card-header {
  padding: 0rem;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: none;
}

.card {
  border:none;
}
::placeholder {
  font-size:12px;
}

.landing-panel p {
  font-size:15px;
}



.form-signin label {
  font-weight:700;
}



.logo {
  max-width: 380px;
  padding-left: .5em;


  min-width:370px;
}

i{
  transition: none !important;
}

.page_nav{
  width: 100%;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  background-color: #141e79;
  font-weight: 300;
  padding: 8px 0px;
}

.landing-panel-p2.second {
  /* margin-bottom:2em; */
}

.page_nav a{
  margin-left: 18px;
  color: #ffffff;
}

.page_nav a:not(:first-child){
  border-left: 1px solid white;
  padding-left: 18px;
}

.container-fluid {
  padding: 0px;
}

.text--blue {
  color: black;
}

/* .spaceBetween {
display:flex;
justify-content: space-around;
align-items: center;
} */

span.heading {
  color:#00559b;
  font-weight:bold;
  font-size:1.3em;
  padding-left: .5em;
  border-left: 1px solid #7bc043;

}

.header-container {
  width: 28%;
  margin-left: 2%;
  display: flex;
  justify-content: center;
  background-color: white;
  min-width: calc(2% + 300px);
}

.header-container .container {
  display: flex;
}

.overflow-hidden{
  overflow: hidden !important;
}


.activeDot{
  border-radius: 50%;
  background: #e5eef5;
  height: 40px;
  width: 40px;
  position: relative;
  /* top: 0;
  right: 32%; */
  z-index: 2;
  border:1px solid #00559b;

}
.selectpicker {
  display:none;
}
.flip {
  background: #00559b;
  writing-mode: tb-rl;
  width: 2px;
  height: 22px;;

}

.inactiveDot{
  border-radius: 50%;
  background: transparent;
  height: 40px;
  width: 40px;
  position: relative;
  /* top: 0;
  right: 22%; */
  z-index: 2;

}



.pinkButton2 {
  height: 2.8em;
  width: 8.8em;
  background: #c23294;
  color: white;
  border-radius: .65rem;
  margin-bottom: 50px;
}

.pinkButton2:hover {
  color: #c23294;
  background: white;
  border: 1px solid #c23294;
}

footer a:hover {
  color:white;
}


.instagram-post {
  background: white;
  padding:17px;
  padding-bottom: 60px;
  margin-left: 22%;
  margin-right: 22%;
  margin-bottom: 50px;
  margin-top:8%;
  -webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.40);
  -moz-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.40);
  box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.40);
}

.border {
  border:1px solid #f7f7f7
}

.instagram-post-top {
  padding: 15px 18px;
  line-height: 45px;
  vertical-align: middle;
  position: relative;
}
.instagram-post-top img {
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
  width: 45px;
}

span.username {
  font-weight: 600;
  vertical-align: middle;
  color:black
}

span.more-options {
  position: absolute;
  /* top: 11px; */
  vertical-align: middle;
  /* width: 24px; */
  font-size: 1.8em;
  color: black;

  right: 18px;


}
.post-container img {
  width: 100%;
}
.instagram-post-bottom {
  padding: 8px 18px 15px 18px;
  position: relative;
}


/* .instagram-like-icon {
position: absolute;
font-size: 1.6em;
color: black;

left: 18px;
vertical-align: middle;

}

.instagram-comment-icon {
position: absolute;
font-size: 1.4em;
color: black;
transform: scaleX(1.3) skewY(4deg) rotate(-70deg);
left: 53px;
vertical-align: middle;
padding-top: 2px;
} */

.instagram-like-icon {
  background: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: -72px -138px;

  height: 24px;
  margin-right: 20px;
  vertical-align: middle;
  width: 24px;
  position: absolute;
  left: 10px;
}


.instagram-send-icon {
  background: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: -150px -137px;

  height: 24px;
  margin-right: 20px;
  vertical-align: middle;
  width: 24px;
  position: absolute;
  left: 90px;
}

.instagram-comment-icon {
  background: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: -184px -52px;

  height: 24px;
  vertical-align: middle;
  width: 24px;
  position: absolute;
  left: 50px;
}

.instagram-bookmark-icon {
  background: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: -182px -184px;

  height: 24px;
  vertical-align: middle;
  width: 24px;
  position: absolute;
  right: 10px;
}
.likes-amount {
  display: block;
  font-weight: 600;
  margin-top: 14px;
  text-align: left;
  color: black;
  margin-left: -6px;

}

.instagram-caption {
  margin-top:-10px;
  color:black
}
.instagram-caption .username {
  margin-right: 5px;

  vertical-align: top;
  margin-left: -3px;

}
.timestamp {
  font-size: 13px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #8E8E8E;
}

.view-comments {
  font-size: 13px;
  letter-spacing: 0px;

  color: #8E8E8E;
  font-weight:700;
  margin-bottom:0em;
}
#hashtag {
  color:#0b4372
}

.topBorder {
  border-top:1px solid #dee2e6;
  padding:1em;
}

.add {
  font-size: 13px;
  letter-spacing: 0px;
  color: #8E8E8E;
  font-weight: 500;
  margin-bottom: 0em;
}
.lightBlue{
  color:#97DDF2
}




.btnSaveExit,
.btnPrevious,
.btnNext,
.btnBegin {
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  /* transition: background-color 0.2s,background-image 0.4s, box-shadow 0.2s; */
  border: none;
  border-radius: 8px;
}

.btnSaveExit,
.btnBegin {
  color: black;
  background: #7bc043;
  left: 0px;
  /* transition: all .5s; */
}

.btnPrevious {
  background-color: #FFFFFF;
  right: 120px;
  width: 100px;
  border: 1px solid #8bc53f;
}

.btnNext {
  background-color: #8bc53f;
  right: 0px;
  width: 100px;
  border: 1px solid transparent;
}

.btnSaveExit:focus,
.btnSaveExit:hover,
.btnBegin:focus,
.btnBegin:hover {
  background: #125086;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  outline: none;
  color: #a4e371;
}

.btnPrevious:focus,
.btnPrevious:hover {
  background-color: #8bc53f;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  outline: none;
}

.btnNext:focus,
.btnNext:hover {
  background-color: #141e79;
  color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  outline: none;
}

.btnBegin {
  width: 100px;
  left: calc(50% - 50px);
  /* bottom: 25px; */
  padding: 7px;
  border-radius: 20px;
  font-size: 15px;
  bottom:64px;
}




.btn-secondary {

  background: #7bc043;
  padding: 0em .5em .3em .5em;
  position: absolute;
  /* left: 40%; */
  left: calc(50% - 71px);
  bottom: 20px;
  width: 140px;
  border:none;
  border-radius:1rem
}

.btn-secondary a {
  font-size:10px;
  color: black;
}

.left {
  float:left
}

.right {
  float:right
}



.zero {
  margin:0em;
  padding:0em;
}

.top {
  margin-top:-10px;
}



.green {
  color:#7bc043
}



@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }

  25% {
    transform: rotateY(45deg);
  }

  50% {
    transform: rotateY(90deg);
  }

  75% {
    transform: rotateY(45deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

.btnContact {
  position: fixed;
  right: -56px;
  top: 192px;
  background-color: #141e79;
  padding: 5px 15px;
  transform: rotate(270deg);
  border-radius: 5px 5px 0px 0px;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: 0 !important;
  /* transition: background-color 0.2s, padding 0.4s, top 0.4s; */
  z-index: 8;
  color: #ffffff;
}

.btnContact:hover,
.btnContact:focus {
  padding: 5px 15px 10px;
  outline: none;
}

.btnContact img {
  filter: invert(1);
}



h1.white.sentMessage {
  color: white;
  padding: 0em 1em;
  font-size: 31px;
  text-align: center;
}

.secondBlock .fas {
  font-size: 40px;
  color: white;
}



.hidden {
  display:none;
}

.form-login-input .form-control.access:nth-of-type(1){
  margin-bottom:0px !important;
}

.form-login-input label {
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 22px;
}

.right .second {
  font-size: 11px;
  margin-top: -60px;
}

.activated
{
  font-weight: 800;
  background: #125086 !important;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, .85);
  opacity: 1;
  color: #a4e371 !important;
  transform: scale(1.13) !important;
  outline: none;

}



.radio-inline input[type='radio']:checked:after {
  width: 14px;
  height: 14px;
  border-radius: 15px;
  top: 0;
  left: 0;
  position: relative;
  background-color:#7bc043 ;

  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
input[type="radio"], input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: 4px \9;
  margin-left: -20px;
}

fieldset {
  padding: 0 !important;
  border: none !important;
}

.around .vertical {
  height: 82px;
  border-radius: 0px;
  padding: 3px;
  padding-top: 1em;
  padding-left: 15px;
}

.around .vertical:nth-of-type(1) {
  width: 38%;
}

.around .vertical:nth-of-type(2) {
  width: 36%;
}
.around .vertical:nth-of-type(3) {
  width: 22%;
}

.vertical {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
legend {
  padding: 0 !important;
  /* width: 0% !important; */
  padding: 0 !important;
  margin-bottom: 0px !important;
  font-size: 0px !important;
  line-height: inherit;
  border: 0;
  border-bottom: none;
}

.formIcon {
  margin-bottom: 5px;
  margin-left: 20%;
  width: 26px;
  height: 30px;
  margin-top: 5px;
}

.radio-inline {
  font-size: 15px;
  display: inline-block;
}


p.whiteLarge a {
  color: white;
}

h6.blue {
  color: #00467f;
  font-weight: 600;
  font-size: 41px;

  margin-top: 0em;
  margin-bottom: 0em;
  padding-right: 1em;
  margin-right: 1em;
}

span.teal {
  color: #008289;
  font-weight: 900;
  font-size: 30px;
  margin-top: 0em;
  margin-bottom: 0em;
}
p.modalFooter {
  color: white;

  font-size: 16px;
  text-align: left;
  margin-top: 0em;
  padding-top: 0em;
}

.modal-body {
  padding-top: 0;
}

.form-control.secondOne {
  height: calc(1rem + 25px) !important;
  padding: 10px 15px !important;
}


.bottomLine {
  border-bottom: 1px solid #a5e371;
  padding-bottom: 2em;
  padding-top: 1em;
  display: flex;
  justify-content: center;
}

.white{
  color:white !important
}


.btnResources{
  position: fixed;
  top: 192px;
  right: -44px;
  transform: rotate(270deg);
  background: #141e79;
  padding: 6px 12px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px 8px 0px 0px;
  cursor: pointer;
  transition: none !important;
}

.btnResources:hover, .btnResources:focus{
  padding-bottom: 10px;
}

/* Dashboard */

.mobile {
  display:none;
}

@media (min-width:1200px) and (max-width:1600px){
  .survey-wrapper {
    max-width: 70%;
  }
}


@media (max-width: 1199px) {
  #home {
    padding-top:3vh;
  }


  .survey-wrapper {
    max-width: 90%;
  }


}


@media (max-width: 1024px) and (min-width:768px){
  .rightSquare{
    right: 2%;
  }
  .whiteBox{
    margin-bottom:1em;
  }
}


@media (max-width: 997px) and (min-width: 768px){
  .page_nav{
    display: none;
  }
  .img-l{
    left: -50px;
    top: -500px;
    width: 150px;
    height: 400px;
  }

  .whiteBox{
    margin-bottom:1em;
  }

  .img-r{
    right: -100px;
    top: -550px;
    width: 200px;
    height: 500px;
  }

  #Guide .img-r{
    bottom: -200px;
    top: unset;
    width: 170px;
    height: 250px;
  }

  .menu-buttons-floating {
    transform: scale(0.8);
  }

  .menu-buttons {
    width: 96%;
  }


}


@media (max-width:991px) and (min-width:768px) {
  .giftCards{
    width: 60%;
    margin: 0 auto;

  }
  .rightSquare h4 {
    font-size: .9em;
    margin-bottom: 0em;
  }

  .pinkButton{
    top:110em;
  }
  .pt13 {
    padding-top: 8em;
    padding-bottom: 2em;
  }

  h1.headerFont {
    font-size: 21px;

  }

  .end {
    padding-left: 2em;
  }

  h6.blue {
    color: #00467f;
    font-weight: 600;
    font-size: 27px;

    margin-top: 0em;
    margin-bottom: 0em;
    padding-right: 0em;
    margin-right: 0em;
  }

  #home {
    padding-top:4vh;
  }


}

@media (max-width:1215px) {
  h3.purple {
    font-size: 2.5em;
  }
  .whiteBox {
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media (max-width: 767px) {

  .taskBars{
    padding: 0em 2.2em;
  }

  .outerCircle {
    position: absolute;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    left: -3rem;
    top: calc(50% - 3.5rem);
  }
  .current:before,
  .pending:before,
  .complete:before{
    width:100%;
    height:50%;
    border-top-right-radius:0.25rem;

  }

  .infoBar .day {
    position: absolute;
    z-index: 99;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    line-height: 1;
    text-align: center;
  }

  .infoBar .due {
    position: absolute;
    z-index: 99;
    top: 75%;

    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: 600;
    line-height: 1;
    text-align: center;
  }
  .giftCards{
    padding:0em 2em
  }

  .giftCards.mt-5{
    margin-top:1em !important
  }

  .infoBar{
    margin-bottom:3.5em;
    padding-top:5em
  }

  .btn.btn-default.absolute {
    position: absolute;
    right: 0%;
    padding: 0.25em 0.5em !important;
    color: white;
    background-color: #611C35;
    font-size: 14px;
    bottom: -2.2rem;
  }

  .users{
    flex-wrap: wrap;
    justify-content: center !important;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: auto;
    width: 100%;
    margin-top: 2em;
  }
  .showSlideOut {
    right: 0px !important;
  }

  .fortyEight.blue {
    font-size: 3em;
    margin-top:5%
  }


  .around .vertical {
    height: auto;
    padding-bottom: 1em;
    width: 50%;
  }
  #slideOut .modal-content{
    width:100vw;
  }
  .around{
    flex-direction: column;
    flex-flow: wrap;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .ques-wrapper textarea.form-control {
    height: auto;
    left: 0;
    width: 100%;
    border: 1px solid;
    border-radius: 1rem;
    margin: 1em 0em;
    position: relative;
  }

  .survey-btn-group {

    flex-wrap: wrap;


  }

  footer .disclaimer {
    position: absolute;
    top: -12%;
    right: 2%;
    max-width: 9em;
  }
  footer .disclaimer p {
    font-size: 11px;
  }

  .end2 {
    padding-left:1em;
    min-width:87%;
  }


  .end2 p.white {
    font-size: 1em !important;
    max-width: 12em;

  }

  .button-default {
    padding: .6em 3.2em !important;
    margin: 1rem 1rem !important;
  }


  .surveyPic1, .surveyPic2 {
    margin-top:1em;
    margin-left:0%;
    max-width:100% !important
  }



  #home {
    position: relative;
    padding-top:10vh;

  }

  #one{
    top:120px
  }

  .activated {
    font-weight: 800;
    background: #125086 !important;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, .85);
    opacity: 1;
    color: #a4e371 !important;

    outline: none;
    border-radius: 5px;
  }

  #FAQ {
    padding: 35px;
    padding-top: 0px;
    margin-top: -0px;
  }

  .initials {
    font-size:9px;
    top: 6px;
    left: 5px;
  }

  .activeDot, .inactiveDot {
    height: 25px;
    width: 25px;
  }


  .logo {

    padding-left: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: .5em;
    min-width:325px;
  }

  .navbar  .logo {

    min-width:240px;
  }



  h1.headerFont {
    font-size: 14px;

  }

  .custom-select{
    display:block;

  }

  /* .custom-select {
  display: inline-block;
  width: 46px;
  height: 22px;
  padding: 0rem 0rem 0rem .8rem;
  line-height: 1.5;
  color: #00559b;
  vertical-align: middle;
  background-size: 7px 11px;
  border: none;
  border-radius: 0rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 10px;
  background-color: #e5eef5;

  } */

  /* select.custom-select {
  background-image:
  linear-gradient(45deg, transparent 50%, #00559b 60%),
  linear-gradient(135deg, #00559b 40%, transparent 50%) !important;
  background-position: calc(100% - 12px) 9px, calc(100% - 6px) 9px, 100% 0;
  background-size:6px 6px, 6px 6px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  } */

  .radio-inline {
    font-size:14px;
  }

  h6.blue {
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-right: 0em;
    margin-right: 0em;
  }

  .blue br {
    display: none;
  }

  .heavy br:first-child {
    display: inline-block;
  }


  .mobile {
    display:inline-flex;
  }


  .hero-img-container.secondOne {
    max-height: none !important;
  }
  .hero-img-container.secondOne {
    min-height: 12rem;
    padding-left: 0em;
    padding-right: 0em;
    height: calc(129vh + 10rem);
  }

  .bottom-overlay {
    top: 0;
  }

  .pt13 {
    padding-top: 1em;
    padding-bottom: 1em;
  }



  #slideOut .form-check {
    position: relative;
    margin-left: 0em;

    padding-left: 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:.6em .2em;
    border-radius: .5rem;
  }

  #slideOut .form-check input {
    height: 18px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 18px;
  }
  #slideOut .form-check label {
    padding: 6px 7px;
    font-size: 16px !important;
    font-weight: 400;

  }
  #slideOut .form-check label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;

    padding-left: 24px !important;
  }

  #slideOut .form-check input + label::before {
    border: 1px solid white;
    content: "";
    height: 14px;
    left: 6px;
    position: absolute;
    top: 60px;
    width: 14px;
    border-radius: 50%;
    background: white;
  }

  #slideOut .form-check input + label::after{
    top: 62px;
  }

  .modal-header {
    padding: 1rem;
    border-bottom: none;
    margin-bottom: 0em;
    margin-top: 0em;
  }
  .modal-footer {
    padding: 15px;
    text-align: left;
    border-top: none;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0em;
    padding-top: 0em;
  }

  .landing-sec {
    padding: 30px;
    margin-bottom: 35px;
  }


  .modal-content {
    width: 100%;
    height: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top:1em;
    padding-bottom:1em;

  }

  .text--blue br {
    display: none;
  }
  .text--blue br:first-of-type {
    display: inline-block !important;
  }


  span.heading {
    color: #00559b;
    font-weight: bold;
    font-size: 1.24em;
    padding-left: .4em;
    border-left: 1px solid #7bc043;
  }
  .landing {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: .2em;
    padding-bottom: .2em;
  }



  .btnResources{
    top: auto;
    bottom: 0px;
    right: calc(50% - 60px);
    transform: rotate(0deg);
    z-index: 80
  }
}





@media (min-width:1700px) {
  /* .survey-wrapper {
  max-width:60%;
  } */
}



@media (max-width: 1024px) {



  .lightWhite {
    width: 98%;
    margin: 0 1%;
    padding: 3em 2em;
  }

  /* .mb-50 {
  margin-bottom: 10vh;
}
*/

.circular_image2,
.circular_image{
  display: none
}


.ques-wrapper.radiobuttons{
  padding:0em;
}

.survey-wrapper {
  margin: 2rem auto;

}

.landing {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0em;
  max-height: 10em;
  margin-bottom: 0;
}

.survey-container {
  width: 100%;
  min-height: auto;
  position: relative;
  /* box-shadow: inset 0px 5rem 5rem -4rem rgba(0,0,0,0.75), inset 0rem -5rem 5rem -4rem rgba(0,0,0,0.75); */
}

}

@media (min-width:992px) and (max-width:1024px){

  .square label::before{
    top: 20px !important;
  }

  .square label::after{
    top: 17px !important;
  }

}


@media (max-width:991px) and (min-width:768px) {

  .headerFont {
    font-size: 20px;

  }
  .logo {
    max-width: 380px;
    padding-left: 0em;
    padding-top:1em;
    min-width:370px
  }

  h3.purple {
    font-size: 2em;
  }

  .larger {
    font-size: 1em;

  }

  .smaller {
    font-size: 1em;
    font-style: italic;

  }

  .content-spacer {
    height: 0;
  }

  .hotPink{
    overflow: auto;
  }

  .square label::before{
    top: 20px !important;
  }

  .square label::after{
    top: 17px !important;
  }


}

@media (max-width:991px) {
  h3.purple {
    font-size: 1.7em;
    padding:0;
    margin-bottom:.1em;
  }

  .blackLineTop {
    padding-top: 1em;
    padding-bottom: .6em;
    margin-top: 1em;
  }

  .heroImage {

    overflow: hidden;
    position: relative;
  }

  #switchImage{
    width: 160%;
    overflow: hidden;
    position: relative;
    left: -60%;
    max-width:none;

  }
  .smaller {
    font-size: 1.1em;
    margin-bottom: .5em;
  }
  .larger {
    font-size: 1.2em;
    margin-bottom: .1em;
  }

  .small {
    font-size: .8em;
  }

  .hotPink {
    padding:1em 2em;
  }


  .rightSquare h4 {
    font-size: 1em;
    margin-bottom: 0em;
  }


  .flipIt {
    top:92%;
  }


  .white-overlay {
    display:none;
  }

  .hotPink {
    position:relative;
    width:100%;
  }

  .content-spacer {
    height: 0;
  }

  #home {
    padding-top:5vh;
  }
  .hotPink{
    overflow: auto;
  }

  .rightSquare {
    right: 10%;
    bottom: 0%;
    padding: .6em;
    max-width: none;
    width: 70%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .abso1 {
    position: absolute;
    left: -10px;
    top: -15px;
  }
  .hotPink{
    border-left: none;

  }

  .whiteBox {
    border-left: 20px solid #c23294;
  }

  .bottom img {
    max-width:12em;
  }

  .smallerImg {
    max-width:8em !important;
  }

  .abso2 {
    position: absolute;
    right: -10px;
    top: -10px;
  }
  .mb3 {
    margin-bottom: 0em;
  }

  .description{
    margin-bottom:4em;
  }
  .flipIt.noHeader {

    bottom: 0;
    right: 3%;
    top: 98%;

  }

  .reverseOut{

    position: fixed;
    right: 2.5%;
    bottom: 0;
    top: 85%;
    height: 0em;
    min-height: 4.5em;
    z-index: 9999999;
    background: white;
    border-radius: 50%;
    padding: 5px 12px;
    width: 4.5em;

  }
  .flipIt {
    position: fixed;
    right: 1.5%;
    bottom: 0;
    top: 84%;
    height: 0em;
    min-height: 3.8em;
    z-index: 9999999;
    background: #007bbc;
    border-radius: 50%;
    padding: 0px 8px;
    width: 3.8em;
    visibility: hidden;
    box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.45);
  }

  .back-to-top {
    display: block;
    position: fixed;

    top: 45%;
    right:3%;
    bottom: 0;
    z-index: 100;
    background: #c23294;
    color: white;
    height: 2.4rem;
    width: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 1.25rem;
    box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.45);
    visibility: hidden;
  }

  .back-to-top i {
    font-size: 36px;
    font-weight: 100 !important;
  }

  .survey-wrapper {
    max-width: 90%;
  }

  .flipIt img {
    width: 3.2em;
    height: 4em;
  }

  .bottom{
    padding:1em 2em;

  }
}

@media (max-width:767px){
  label {
    margin-top:1em !important
  }
}


@media (max-width: 375px) {
  .pinkButton {
    bottom:11.5em
  }

  .flipIt {
    top: 55.5%;

  }

  .back-to-top {
    top: 66.5%;

  }

}

@media (max-width: 322px) {
  html, body{
    min-width: 320px !important;
  }

  .end2 {
    padding-left: 1em;
    min-width: 100%;
  }

  .hero-img-container.secondOne {
    height: 1025px !important;
    bottom: 0 !important;
  }

  p.whiteLarge {
    color: white;
    padding: 0em;
    font-size: 16px;
    margin: 0;
    text-align: left;
  }
  .dial {
    font-size: 16px;
  }

  .modal-content {
    width: 100%;
    height: auto;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
    opacity: 1;
  }
  .landing-panel {
    min-height: 25.5em;
    height: auto;
  }

  .radio-inline {
    font-size: 12px;
  }

  .logo {
    max-width: 65%;
    padding-left: .2em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: .5em;
    min-width:9em;
  }


  .description{
    margin-bottom:5em;
  }

  .hotPink,
  .bottom {
    padding:1em 1.6em;
  }



  h3.purple {
    font-size: 1.4em;
  }
  .smaller {
    font-size: .9em;

  }
  .larger {
    font-size: 1em;

  }

  .flipIt {
    top: 48%;

  }

  .back-to-top {
    top: 61%;
  }


}

/* matrix table classes */


.tbl > thead > tr > th,
.tbl > thead > tr > td {
  border-bottom-width: 2px;
}

/* center the content cells*/
.tbl tbody > tr > td,
.mxplus tbody > tr > td,
.mx tbody > tr > td {
  text-align: center;
}
/* matrix row header*/
.tbl tbody > tr > th,
.mxplus tbody > tr > th,
.mx tbody > tr > th {
  text-align: left;
  padding: .5em .5em .5em .5em;
  font-weight: normal;

}
/* column headers*/
.tbl thead > tr > th,
.mxplus thead > tr > th,
.mxplus thead > tr > td,
.mx thead > tr > td,
.mx thead > tr > th {
  text-align: center;

  padding: .5em .5em .5em .5em;
  vertical-align: bottom;

}

.mx-header-left {
  text-align:left;
}

.tbl-row,
.mxplus-row,
.mx-row {
  background-color: #FFFFFF;
}

.tbl-row-alt,
.mxplus-row-alt,
.mx-row-alt {

}

.mxplus-row-alt > td,
.mxplus-row > td {
  /*border-bottom-style:solid;*/
}

.mx-question
{
  vertical-align:top
}

.mx-qnumber
{
  vertical-align:top;
  text-align:right;
  padding-top: .5em;

}

.mx-cell-leftborder, .mx-cell-spacer
{
  border-left-style:dashed;
  border-left-width: thin;

}

.mx-cell-rightborder
{
  border-right-style:dashed;
  border-right-width: thin;
}



.mx thead > tr > td, .mx thead > tr > th {
  background-color: transparent;
  padding: 0px !important;
  vertical-align: bottom;
  border-bottom: none;
  text-align: center;
  font-size: 16px;
  font-weight: 500;

  padding-bottom: 10px !important;
  padding-top: 10px !important;
  color:#262626 !important;
  line-height: 1.3
}

.vertical legend {
  font-size: 0px
}

td {
  padding: 0;
  padding-bottom:0;
}


.mx-question.prompt {
  font-size: 18px;

  font-weight: 300;
  color: #404040 !important;

  text-align: left;


}

#special2 .mx-question.prompt {
  min-width:100px
}

table {
  width:100%;
  max-width: none;
  border: none !important;

}

.mx-row {
  background-color:white !important;
  border-radius: 1rem
}


.mx-row-alt {
  background-color:#f7f6f5 !important;
  border-radius: 1rem

}

td {
  position: relative;
}
.moveBelow {
  position: absolute;
  width: 100%;
  bottom: -2px;
  left: calc(50% - 3.5em);
  font-size:13px;
  width:auto;
  min-width:7em;
}




.form-check .moveBelow {
  display: none
}

@media (min-width:768px)  {

  #special3  .moveBelow {
    position: absolute;
    width: 100%;
    bottom: -2px;
    left: calc(50% - 9em);
    font-size: 13px;
    width: auto;
    min-width: 18em;
  }

  #special2 .moveBelow {
    position: absolute;
    width: 100%;
    bottom: -2px;
    left: calc(50% - 5em);
    font-size: 13px;
    width: auto;
    min-width: 10em;
  }

  tbody tr .form-check input[type="radio"] + label.moveLabel::before {
    left: 43%
  }

  tbody tr .form-check input[type="radio"] + label.moveLabel::after {
    left: 44.5%

  }


  #special2  tbody tr .form-check input[type="radio"] + label.moveLabel::before {
    left: 45%
  }

  #special2 tbody tr .form-check input[type="radio"] + label.moveLabel::after {
    left: 46%;
  }


  #special3 tbody tr .form-check input[type="radio"] + label::before {
    left: 45.5%;

  }
  #special3  tbody tr .form-check input[type="radio"] + label::after {

    left: 46.4%;

  }

}

.light{
  font-weight: 300
}

tbody tr .form-check-label {
  margin-bottom: 0px;
  font-weight: normal;
  font-size: 0px !important;
}

tbody tr .form-check {
  display: table-cell;
  padding-left:0em;
  margin:0em;
}

tbody tr .prompt {
  padding:10px 0px 10px 10px !important;
  /* max-width:70%; */
  text-align: left;
  font-size: 16px !important;

}

.ques-wrapper tbody tr .form-check label {
  padding-left: 20px !important;
  padding-right: 20px;
}

tbody tr .form-check input[type="radio"] + label::before {
  border: 1px solid #611C35;
  content: "";
  height: 18px;
  left: 40px;
  position: absolute;
  top: 11px;
  width: 18px;
  border-radius: 50%;
  background: white
}

tbody tr .form-check input[type="radio"] + label::after {
  content: "";

  border: 7px solid #611C35;
  border-radius: 50%;
  position: absolute;
  left: 42px;
  top: 13px;
  color: #611C35;
  transition: opacity 0.2s ease-in-out;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

tbody tr label {
  font-size:0px;
}


tbody tr input[type="radio"] {
  margin: 18px;
}

tbody tr .radio-inline {
  font-size: 0px !important;
  display: inline-block;
}

tbody tr .form-check .radio-inline {
  font-size: 0px !important;
  display: inline-block;
}

.blueRow{
  background: #007bbc
}

.mx thead > tr.blueRow > td {
  color:white !important;
  padding-top:10px !important;
}


@media (max-width:767px) {

  .form-check .moveBelow {
    display: flex
  }

  .mx thead > tr > td, .mx thead > tr > th {
    vertical-align: baseline;
    font-size: 10px;
    padding-bottom:0px !important;
    padding-left: 0em !important;

  }

  .mx-row-alt, .mx-row {
    background-color: transparent !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2em;
  }


  #special3 .mx-row-alt,  #special3 .mx-row {
    background-color: transparent !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0em;
  }

  #special .mx-question.prompt {
    margin-bottom: -2em !important;
  }

  .mx thead {
    display: none
  }

  .ques-wrapper tbody tr .form-check label {

    text-align: left;
  }

  tbody tr .prompt {
    padding: 0px 0px 0px 10px !important;
    text-align: left;
    font-size: 16px !important;

  }

  .mx-question.prompt {
    margin-bottom:0em !important
  }

  .ques-wrapper tbody tr .form-check label {
    padding-left: 37px !important;
    padding-right: 5px;
    margin-top: 8px;
    font-size: 16px !important;
    /* color: #007bbc; */
  }

  .form-check {
    position: relative;
    margin-left: 0em;
    margin-bottom: .5em;
  }
  .form-check label {

    font-size: 16px !important;

    color: #404040;
  }

  .ques-wrapper .form-check label {

    margin-bottom: 0px;

  }

  .prompt {
    margin-bottom:0em !important;
    font-size:17px;
  }

  p {
    margin-top: 0;
    margin-bottom: .6rem;

  }

  #special3 .prompt {
    margin-bottom: -1em !important;
  }


  tbody tr .form-check input[type="radio"] + label::before {
    border: 1px solid #611C35;
    content: "";
    height: 18px;
    left: 10px;
    position: absolute;
    top: 21px;
    width: 18px;
    border-radius: 50%;
    background: white
  }

  tbody tr .form-check input[type="radio"] + label::after {
    content: "";

    border: 7px solid #611C35;
    border-radius: 50%;
    position: absolute;
    left: 12px;
    top: 23px;
    color: #611C35;
    transition: opacity 0.2s ease-in-out;
  }
  .moveBelow {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 10px;
    font-size: 16px;
    width: auto;
  }
  .ques-wrapper .form-check label {
    display: flex;

  }

  .survey-btn-group {

    width: 100%;
    margin-left: 0;
    margin-right: 0;

  }
  label{
    margin-top: 1em;
  }
}
